@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;1,100&display=swap');
*,*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Noto Serif', serif;

    font-family: 'Oswald', sans-serif;

    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}