$primary-lg-color:#0085b9;
$primary-color:#04acec;
$secondry-color:#e4148d;
$ternary-color:#e8e4f3;
$fontsize-lg:3rem;
$fontsize-x-lg:2.8rem;
$fontsize-md:2rem;
$fontsize-x-md:1.8rem;
$fontsize-sm:1.5rem;
$fontsize-x-sm:1.3rem;
$fontweight-lg:800;
$fontweight-x-lg:700;
$fontweight-sm:600;
$fontweight-x-sm:500;