$primary-lg-color:#dc2c10;
$primary-color:#eb4923;
$secondry-color:#494750;
$ternary-color:#000000;
$fontsize-lg:3rem;
$fontsize-x-lg:2.8rem;
$fontsize-md:2rem;
$fontsize-x-md:1.8rem;
$fontsize-sm:1.5rem;
$fontsize-x-sm:1.3rem;
$fontweight-lg:800;
$fontweight-x-lg:700;
$fontweight-sm:600;
$fontweight-x-sm:500;