.category-container{
    background: white;
    width: 100%;
    height: auto;
    padding: 0 5rem ;
    @media(max-width:542px){
        padding: 0 3rem;
    }
    @media(max-width:200px){
        padding: 0;
     }
    .category{
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3rem;
        h1{
            font-size: 2.5rem;
            font-weight: 100;
            color: $secondry-color;
        }
        .category-pagraph{
            width: 100%;
            height: auto;
            transition: .3s;
            &:hover{
                cursor: pointer;
            }
            @media(max-width:867px){
                width: auto;
                height: auto;
            }
            p.para1:first-letter{
                font-size: 80px; 
                display: block; 
                float: left; 
                line-height: 0.5; 
                margin: 15px 15px 8px 0;
                color: $secondry-color;
            }
            p{
                font-size: 1.5rem;
                font-weight: 100;
                z-index: 8;
                line-height: 24px;
                letter-spacing: 0px;
                opacity: 1;
                color: $secondry-color;
            }
        }
        .category-option{
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-self: center;
           text-align: center;
           gap: 1rem;
           width:100%;
           height: auto;
           @media(max-width:1200px){
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
        }
        @media(max-width: 610px){
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .option{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 2rem;
            gap: 2rem;
            border-radius: 5px;
            border-right: 1px solid $secondry-color;
            border-bottom: 1px solid $secondry-color;
            transform: .3s;
            width: 300px;
            @media(max-width: 710px){
                width: 250px;
            }
            @media(max-width:610px){
                width: 100%;
                height: auto;
            }
            &:hover{
            border-right: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            cursor: pointer;
            i{
                color: $primary-lg-color;
            }
            }
                i{
                    font-size: 4rem;
                    color: $secondry-color;
                }
                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    font-weight: 100;
                    z-index: 8;
                    line-height: 24px;
                    letter-spacing: 0px;
                    opacity: 1;
                    color: $secondry-color;
                }
            }
        
        }
        i{
            font-size: 6rem;
            color: $secondry-color;
        }
 
    }
}