nav{
    padding: 0 5rem;
    background-color: white;
    border-bottom: 1px solid $primary-color;
    width: 100%;
    height: 100px;
    position: sticky;
    z-index: 999;
    right: 0;
    top: 0;
    @include flexs(flex,space-between,center,0rem);
    .logo{
        width: 100px;
        height: 100%;
        border-radius: 50px;
        background: $primary-color;
        img{
            width: 100%;
            height: 100%;
            font-weight: $fontsize-lg;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit:cover;
            transition: .3s;
        }
        &:hover{
            cursor: pointer;
        }
    }
    form{

        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $ternary-color;
        border: 1px solid $primary-color;
        border-radius: 20px;
        gap: .4rem;
        transform: .4s;
        &:hover{
            border: 1px solid $secondry-color;
            i{
                cursor: pointer;
                border-right: 2px solid $secondry-color;
            }
        }
        i{
            font-size: 2rem;
            padding: 0 1rem;
            border-right: 2px solid $primary-color;
            color: $secondry-color;
            transform: .4s;
        }
        input{
            padding: .7rem 0rem;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border: none;
            border: none;
            outline: none;
        }
    
    }
    .nav-links{
        @include flexs(flex,space-between,center,3rem);
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-size: $fontsize-x-md;
                color: $primary-color;
                font-weight: $fontweight-x-lg;
                padding: 2rem;
                transition: .5s;
                font-size: 1.7rem;
                font-weight: 700;
                &:hover{
                    background: $secondry-color;
                    border-radius: .4rem;
                    color: $ternary-color;
                    font-weight: 800;
                }
            }
        }
        i{
            font-size: 2rem;
            color: $primary-color;
            transition: .3s;
            &:hover{
                color: $secondry-color;
                cursor: pointer;
            }
        }
    }
}
.home-container{
    background-image: linear-gradient(to right  bottom,rgba(30, 143, 255, 0.479),rgba(30, 143, 255, 0),rgba(204, 50, 140, 0),rgba(204, 50, 140, 0.363)),
    url("https://images.pexels.com/photos/306763/pexels-photo-306763.jpeg?");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    width: 100%;
    height: 84.2vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0rem 5rem;
    .home-text{
        position: absolute;
        width: 400px;
        padding: 4rem;
        background-color: white;
        border-radius: 5px;
        border: 2px solid dodgerblue;                                                                             ;
        h1{
            text-align: center;
        }
        p{
            padding: 2rem 0;
            font-size: 1.4rem;
        }
        .btn-shop{
            display: flex;
            justify-content: center;
            a{
                background-color: dodgerblue;
                color: white;
                padding: 2rem 4rem;
                border-radius: 5px;
                font-size: 1.5rem;
                text-decoration: none;
                transition: .8s;
                &:hover{
                    background-color:rgb(204, 50, 140);
                    color: white;
                }
            }
           

        }
    }
}
.about-container{
    width: 100%;
    height: 100vh;
    background: $ternary-color;
}
