.home-container{
    width: 100%;
    height: auto;
    background: #089;
   .home{
    position: relative;
    width: 100%;
    height: 100%;
    .image{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 500px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            object-position: center;
            object-fit: cover;
        }
    }
    .home-text{
        padding: 0 5rem;
        display: flex;
        justify-content:baseline;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, rgba(255, 0, 0, 0),rgba(255, 0, 0, 0),#0000008a,#000000f3,#000000f1,#000000);
       .text{
        width: auto;
        height: auto;
        padding: 2rem;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: last baseline;
        text-align: left;
        gap: 2rem;
        h1{
            color: $primary-color;
            font-weight: 100;
            font-size: 6rem;
            border-bottom: 1px solid white;
        }
        p{
            color: white;
            font-size: 1.6rem;
            font-weight: 100;
        }
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 2rem;
     
            .explorer{
                text-decoration: none;
                padding: 2rem;
                background: $primary-lg-color;
                border-radius: 50px;
                color: black;
                font-size: 1.2rem;
                font-weight: 700;
                transition: .4s;
                &:hover{
                    border: 1px solid $primary-lg-color;
                    background: none;
                    color: $primary-lg-color;
                }
            }
            .get{
                text-decoration: none;
                padding: 2rem;
                background: white;
                border-radius: 50px;
                color: $primary-lg-color;
                font-size: 1.2rem;
                font-weight: 700;
                transition: .4s;
                &:hover{
                    border: 1px solid white;
                    background: none;
                    color: white;
                }
            }
        }
       }
    }
   }
}