.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-form {
        width: 400px;
        height: auto;
        padding: 4rem ;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .form-option{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5rem;
          button{
            padding: 1.3rem 2rem;
            border-radius: 5px;
            border: 1px solid $secondry-color;
            color: $secondry-color;
          }
          .active{
            padding: 1.3rem 2rem;
            border-radius: 5px;
            border:none;
            color: white;
            background: linear-gradient(45deg,#dc2c10 30%, #494750 90%);
          }
        }
           .input-box {
            position: relative;
            width: 100%;
            margin-top: 1rem;
            color: black;
            input,
            textarea {
              width: 100%;
              font-size: 1.4rem;
              padding: 0.5rem 0;
              margin: 1rem 0;
              font-weight: 100;
              border: none;
              border-bottom: 1px solid $secondry-color;
              outline: none;
              resize: none;
              color: $secondry-color;
            }
            span {
                position: absolute;
                left: 0;
                padding: 0.5rem 0;
                margin: 1rem 0;
                font-size: 1.4rem;
                pointer-events: none;
                transition: all 0.5s;
                color: $secondry-color;
                font-weight: 700;
              }
            input:focus ~ span,
            input:valid ~ span,
            textarea:focus ~ span,
            textarea:valid ~ span {
               color: $primary-color;
               font-size: 1.3rem;
               font-weight: 700;
               transform: translatey(-2rem);
            }
            input[type="submit"] {
                padding: 1.3rem 0;
                background: linear-gradient(45deg,#dc2c10 30%, #494750 90%);
                color: white;
                font-weight: 900;
                border: none;
                cursor: pointer;
                font-size: 1.5rem;
                transition: 0.3s;
                font-weight: 600;
                border-radius: 0.5rem;
                border: 0;
                border-radius: 3;
                box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
                color: white;
                height: 48;
              }
              input[type="submit"]:hover {
                background: linear-gradient(45deg, #494750 30%, #dc2c10 90%);
                color: white;
              }
          }
      }
}

  
 


  
 
  