.search-container{
    background: $ternary-color;
    width: 100%;
    height: auto;
    padding: 4rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    .search-pro{
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 50%;
        img{
            width: 100%;
            height: 200px;
            border-radius: 50%;
        }
        h1{
            display: none;
        }
        transition: .4s;
        &:hover{
            width: 200px;
            height: auto;
            border-radius: 5px;
            img{
                width: 180px;
                height: 180px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            h1{
                display: block;
            }
        }
      
    }
}   